.promo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: #E5D4FF;
    box-shadow: 2px 2px 2px 2px #D0A2F7;
    margin: 12px;
    padding: 5px;
}
<<<<<<< HEAD
=======

>>>>>>> 337ff2f0eb705c45cd38a1fc63dc368e24fb9d47
.promo-img {
    height: 190px;
    width: 98%;

}
.promo-img:hover {
    opacity: 0.75;
}