@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');

.services-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E5D4FF;
    height: 150px;
    margin: 20px;
}

/* h1 {
    text-align: center; */
    /* color: #481a70; */

.icons:hover {
background-color :#D0A2F7;
}
.services-tags {
    font-family: 'Recursive', sans-serif;
    background-color: #DCBFFF;
}
