.marquee-image   
 {
    margin:20px 50px 20px 50px;
    /* background-color: white; */
}
.brands-container {
    background-color:#fff;
    height: 170px;
    box-shadow: 2px 2px 2px 2px #D0A2F7;
    margin: 15px;
}