.marquee-image {
    margin: 20px 50px 20px 50px;
}

.brands-container {
    background-color: #fff;
    height: 170px;
    box-shadow: 2px 2px 2px 2px #D0A2F7;
    margin: 15px;
<<<<<<< HEAD
} 

=======
}
>>>>>>> 337ff2f0eb705c45cd38a1fc63dc368e24fb9d47
