.footer {
    /* display: flex;
    justify-content:flex-end;
    align-items: flex-end; */
}
.footer  > img {
    width: 35%;
    margin-right: 10px;
    /* padding: 0px; */
    /* margin-bottom: 20%; */
}
.footer-container
{   height: 50px;
     background-color: #DCBFFF;
    margin:10px;
    padding: 15px;
    display: flex;

}
.footer-container > h3 {
 
    margin-left: 35%;
    font-size: 20px;
}