.navbar {
    height: 120px;
}

.navbar-links {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
    font-size: 22px;
    font-weight: 600;
}

.link {
    text-decoration: none;
    font-size: 25px;
}

.link:hover {
    color: #F1EAFF;
    background-color: #481a70;
    border-radius: 25px;
    padding: 5px;
}

.navbar h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    box-shadow: 2px 2px 2px 2px #DCBFFF;
    color: #481a70;
}